@font-face {
  font-family: GangOfThree;
  src: url('../fonts/gangofthree.ttf');
  font-weight: bold;
}

* {
  user-select: none;
  -webkit-user-drag: none;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  background-color: black;

  transition: opacity 2s;
  /*perspective: 20em;
  transform-style: preserve-3d;*/
}

.state-container {
  position: absolute;
  width: inherit;
  height: inherit;
  transition: opacity 2s;
  perspective: 20em;
  transform-style: preserve-3d;
}
