html, body {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-drag: none;
}

body {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  background-color: lightgreen;
}

/*Background*/
div.background img {
  position: absolute;
  width: 200%;
  height: 100%;
  animation: slide 40s linear infinite; /* Time is subject to change based on image */
  z-index: -100;
}

@keyframes slide {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

/* The Background image is twice the length of the screen.
 * When one length finishes it resets to make the transition seamless.
 * Width and Height properties should be modified through MQs as the screen size changes.
 */

div.state-container {
  width: inherit;
  height : inherit ;
  /*position: absolute; */
  /*bottom: 0px; */
  transition: transform 2s, opacity 2s;
}

div#castle-container {
  width: inherit;
  position: absolute;
  bottom: 0px;
}

img.building {
  position: relative;
  /*bottom: 0px;*/
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

div.door {
  transition: all 2s, transform 1.5s, background-color 1.3s;
}

div.left-door {
  transform-origin: left;
}

div.right-door {
  transform-origin: right;
}

img.lantern {
  position: absolute;
  z-index: 10;
  width: 60px;
  animation: oscillate ease-in-out infinite alternate forwards;
  transform-origin: top;
}

@keyframes float {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}

@keyframes oscillate {
  from { transform: rotate(-5deg); }
  to   { transform: rotate(5deg); }
}

img.lantern-left {
  transform: translateX(-50%);
}

img.lantern-right {
  transform: translateX(50%);
}
