@media screen and (orientation: portrait) {
  img#castle-mobile {
    opacity: 1;
  }

  img#castle {
    opacity: 0;
  }

  img.lantern {
    top: -150%;
  }

  img#tree2, img#tree3 {
    opacity: 0;
  }
}

@media screen and (max-aspect-ratio: 1920/1079) {
  img#mountains {
    width: initial;
    height: 100vh;
  }
}

@media screen and (max-aspect-ratio: 997/561) {
  img#dojo {
    width: initial;
    height: 145vh;
  }

  img.back-svgs {
    height: 9em;
  }
}
