@media screen and (orientation: portrait) {
  img#castle-mobile {
    opacity: 1;
  }

  img#castle {
    opacity: 0;
  }

  img.lantern {
    top: -150%;
  }

  img#tree2, img#tree3 {
    opacity: 0;
  }
}

@media screen and (max-aspect-ratio: 1920/1079) {
  img#opening-screen-background {
    width: initial;
    height: 100vh;
  }

  img#menu-background {
    width: initial;
    height: 100vh;
  }
}


@media screen and (max-aspect-ratio: 997/561) {
  img#dojo-laptop{
    width: initial;
    height: 160vh;
  }

  img.back-svgs {
    height: 9em;
  }
}

/*Front svg media queries for phone screen*/
@media screen and (max-aspect-ratio: 718/1274) {
  img#dojo-mobile {
    width: initial;
    height: 160vh;
  }
}

@media screen and (max-aspect-ratio: 540/703) {
  img#traindummy {
    left: 0em !important;
  }

  img#dojo-mobile {
    opacity: 1;
  }

  img#dojo-laptop {
    opacity: 0;
  }

  img#table {
    height: 6.8em;
    left: 0em !important;
    bottom: 32em;
  }
}
