div#menu-container {
  position: absolute;
  top: 0;
  z-index: -100;
  opacity: 0;
  transition: opacity 2s;
}

div#icon-wrapper {
  position: relative;
  top: 60vh;
  width: 100vw;
  left: 50%;
}

img.icon-svgs {
  position: relative;
  transform: translateX(-50%);
}

img#dojo {
  width: 100vw;
  height: initial;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

img#traindummy {
  width: 8em;
  left: -24%;
}

img#hospitality {
  width: 15em;
  left: 13%;
}