/*CONTAINER styles*/
#menu-container {
  top: 0;
  transform: translateZ(-12em);
  z-index: -100;
}

#menu-overlay {
  background-color: black;
  /*z-index: -75;*/
  z-index: 750;
  transition: opacity 1s;
}

#menu-background-container {
  top: 50%;
  z-index: -1000;
  transform: translateZ(-12em);
}

img#menu-background {
  width: 160vw;
  transform: translateX(-50%) translateY(-50%);
}

/*DOJOS*/
img.dojo {
  width: 160vw;
  height: initial;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

img#dojo-laptop {
  transition: opacity 1s;
}

img#dojo-mobile {
  opacity: 0;
  transition: opacity 1s;
}

/*SVG containers*/
.svg-container {
  position: absolute;
  left: 50%;
  width: 100vw;
  transition: opacity 2s;  
}

#front-dojo-container {
  bottom: -10%;
  transform: translateZ(2.5em);
}

#back-dojo-container {
  top: 50%;
}

/*SVG styles*/
img.menu-svgs {
  position: absolute;
  transition: transform 0.3s;
}

img.front-svgs {
  bottom: 0;
  transform: translateX(-50%);
}

img.shield {
  transform: translateX(-50%) translateY(-37%);
}

img.front-svgs:hover {
  transform: translateX(-50%) scale(1.05);
}

img.shield:hover {
  transform: translateX(-50%) translateY(-37%) scale(1.05);
}

/*Induvidual SVGs*/
img#traindummy {
  height: 16.363em;
  left: -23em;
  transition: transform 0.3s, opacity 1s;
}

img#table {
  height: 9em;
  left: 23em;
  transition: transform 0.3s, opacity 1s;
}

img#ninja {
  height: 10em;
  transform: translateX(-50%) translateY(-10%);
  animation: levitate 2s ease-in-out infinite alternate;
}

img#ninja:hover {
  transform: translateX(-50%) translateY(-10%) scale(1.05);
}

@keyframes levitate {
  from { top: -3vh; }
  to { top: 0%; }
}

/*CSS for mobile version*/
.mobile-icon-shields {
  width: 25%;
  margin: 30px;
}

.mobile-icon-others {
  width: 35%;
  margin: 20px;
  margin-top: 40px;
}

.mobile-icon-ninja {
  display: block;
  margin: auto;
  width: 30%;
}

.mobile-svg {
  margin-bottom: 5px;
}

/*TEXT*/
div.description {
  position: absolute;
  font-family: GangOfThree;
  font-size: 2em;
  text-shadow: 0 0 10px white, 0 0 40px white;
  z-index: 100;
  opacity: 0.2;
  transform: translateX(-50%);
  transition: opacity 0.4s;
}

div#ninja-text {
  top: -10vh;
}
div#sponsors-text {
  top: 15vh;
}
div#contacts-text {
  top: 15vh;
}
div#table-text {
  top: -5vh;
}
div#traindummy-text {
  top: -5vh;
}

/*TEXT Mobile - TEMP*/
div.description-mobile {
  position: absolute;
  font-family: GangOfThree;
  font-size: 1.2em;
  text-shadow: 0 0 10px white, 0 0 40px white;
  z-index: 100;
  transform: translateX(-50%);
}

div#ninja-text-mobile {
  left: 50%;
}
div#sponsors-text-mobile {
  left: 75%;
}
div#contacts-text-mobile {
  left: 25%;
}
div#table-text-mobile {
  left: 75%;
}
div#traindummy-text-mobile {
  left: 25%;
}
