/*CONTAINER styles*/
#menu-container {
  top: 0;
  transform: translateZ(-9em);
  z-index: -100;
}

#menu-overlay {
  background-color: black;
  opacity: 0;
  z-index: -75;
  transition: opacity 1s;
}

/*Class for both dojo images (web and mobile version)*/
img.dojos {
  width: 145vw;
  height: initial;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

img#dojo {
  transition: opacity 1.5s;
}

img#phonedojo {
  opacity: 0; /*initially invisible*/
  transition: opacity 1.5s;
}

.svg-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100vw;
  transition: opacity 2s;  
}

#front-dojo-container {
  transform: translateZ(2.5em);
}

#back-dojo-container {
  top: 50%;
}


/*SVG styles*/
img.menu-svgs {
  position: absolute;
  transition: transform 0.3s;
}

img.front-svgs {
  bottom: 0;
  transform: translateX(-50%);
}

img.back-svgs {
  height: 10em;
  transform: translateX(-50%) translateY(-37%);
}

img.front-svgs:hover {
  transform: translateX(-50%) scale(1.05);
}

img.back-svgs:hover {
  transform: translateX(-50%) translateY(-37%) scale(1.05);
}

/*Induvidual SVGs*/
img#traindummy {
  height: 16.363em;
  left: -23em;
  transition: all 1.5s; /*transitions occur for phone screens*/
}

img#table {
  height: 9em;
  left: 23em;
  transition: all 1.5s; /*transitions occur for phone screens*/
}

img#ninja {
  transform: translateX(-50%) translateY(-10%);
  animation: hover 2s ease-in-out infinite alternate;
}

img#ninja:hover {
  transform: translateX(-50%) translateY(-10%) scale(1.05);
}

@keyframes hover {
  from { top: -5%; }
  to { top: 0%; }
}
