#opening-screen-container {
  z-index: 1000;
}

#castle-container {
  position: absolute;
  bottom: -4.8%;
  width: inherit;
  transition: transform 2s;
}

/*LANTERNS*/
img.lantern {
  position: absolute;
  z-index: 10;
  transform-origin: top;
  transition: top 4s;
  animation: float ease-in-out infinite alternate forwards;
}

/*@keyframes float {
  from { margin-top: 0; }
  to { margin-top: 10px; }
}*/
@keyframes float {
  from { transform: translateY(0); }
  to { transform: translateY(-5%); }
}

@keyframes oscillate {
  from { transform: rotate(-5deg); }
  to   { transform: rotate(5deg); }
}

/*Check lanterns.css for lantern specific styles*/


/*TREES*/
#trees-container {
  position: absolute;
  left: 50%;
  bottom: 20vh;
  width: inherit;
}

img.tree {
  display: inline-block;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  transition: opacity 1s;
  z-index: -30;
}

/*Check trees.css for tree specific styles*/


/*CASTLES*/
img.monastery {
  position: relative;
  bottom: 0;
  height: 80vh;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 1s;
  z-index: 0;
}

img#castle {
  margin-bottom: -3.61px;
}

img#castle-mobile {
  position: absolute;
  opacity: 0;
}

/*DOOR*/
#castle-door-container {
  position: absolute;
  left: 50%;
  bottom: 29.25vh;
  height: 14.5vh;
  transform: translateX(-50%);
  perspective: 18.75em;
}

div.door {
  display: inline-block;
  position: relative;
  height: 14.5vh;
  transition: transform 1.5s;
}

img.door-img {
  height: inherit;
  margin: 0 -1px;
}

div#door-left {
  transform-origin: left;
}

div#door-right {
  transform-origin: right;
}

.door-overlay {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 1.2s, transform 1.5s;
  z-index: 100;
}


div#alert {
  position: absolute;
  bottom: 7.8%;
  z-index: 1000;
  width: inherit;
  text-align: center;
  font-size: 2em;
  color: white;
  text-shadow: 0px 0px 10px black, 0px 0px 40px black;
  animation: bounce 0.5s ease-out infinite alternate;
  transition: opacity 1s;
  font-family: GangOfThree;
}

@keyframes bounce {
  from { transform: translateY(0); }
  to { transform: translateY(-15%); }
}
